html {
  scroll-behavior: smooth;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  height: 1000px;
}


#ac {
  width: 100%;
  height: 100%;

}

.navbar {
  width: 100%;
  height: 80px;
  background-color:
    rgba(23, 25, 29, 0.1);
  /* position: fixed ; */
  z-index: 50;
  box-shadow: 0px 20px 6px 0px rgb(0 0 0 / 15%);
  top: 0;

}

.top {
  width: 100%;
  height: 80px;
  background-color:
    rgba(23, 25, 29, 0.1);

  top: 0;

}

.contenr {
  width: 1500px;
  margin: 0 auto;
  padding: 15px 0;
  height: 0;


}

.contenrr {
  width: 1500px;
  margin: 0 auto;
}

.rang,
.rang1,
.rang2,
.rang3 {
  font-size: 20px;
  padding-top: 12px;
  font-family: ok;
}

#p {
  padding-left: 150px;

}

p {
  float: left;
  padding-left: 23px;
}

#l {
  font-size: 40px;
  padding-left: 90px;
  margin-top: -2px;
  font-family: ok;
}


.mom {
  margin-left: 890px;
  width: 80px;
  height: 35px;
  margin-top: 8px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;


}

.fa-moon {
  margin-left: 55px;
  margin-top: 5px;
  font-size: 21px;
  cursor: pointer;
  position: fixed;
  position: relative;
}



.fa-sun {
  font-size: 22px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  position: absolute;

}

.oy {
  width: 33px;
  height: 34px;
  background-color: blue;
  border-radius: 50px;
  margin-top: -27px;
  margin-left: 0px;
  cursor: pointer;
  position: relative;
  z-index: -1;



}


table {
  width: 100%;
  margin: 0;
  border: none;
  border-top: none;
  box-sizing: border-box;
  position: absolute;


}

td {

  padding: 0;
  padding: 0 auto;
  height: 80px;
  margin: 0 auto;
  border: 1px solid rgb(38, 36, 36);





}

.katak {
  width: 1600px;
  /* margin-top: 48px; */

}

#tr>td {
  border-top: none;
  border-left: none;
  filter: blur(0.6px);

}

.numm {
  float: left;

}

#pp {
  position: absolute;
  font-size: 27px;
  margin: -40px 0 0 110px;
  font-family: ok;
  width: 300px;

}

#pm {
  position: absolute;
  /* font-size: 25px; */
  margin: -30px 0 0 130px;
  font-family: ok;
}

#but {
  float: left;
  position: absolute;
  top: 0;
  margin: 12px 0 0 410px;
  width: 180px;
  height: 50px;
  font-size: 15px;
  background-color: rgba(105, 17, 173, 1);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: ok;
  transition: 1.5s;

}


.riga {
  position: absolute;
  width: 354px;
  height: 312px;
  background: linear-gradient(to left, #267DFF -25%, rgba(237, 0, 128, 1) 78%, #00FFE0 100%);
  filter: blur(50px);
  z-index: -1;
  border-bottom-left-radius: 305px;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 50px;
  right: 0;
  right: 0;

}

.dom {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  /* right: 0; */
  margin: 70px 70px 0 950px;
  box-shadow: 0px 20px 16px 10px rgb(0 0 0 / 40%);
}

.rang6 {
  position: absolute;
  z-index: 10;
  width: 600px;
  line-height: 45px;
  margin: 150px 0 0 150px;
  font-family: ok;
  font-size: 40px;
  font-weight: lighter;

  letter-spacing: 4px;
}


@font-face {
  font-family: ok;
  src: url(./Roboto/Roboto-Regular.ttf);
}

.rang7 {
  position: absolute;
  z-index: 10;
  margin: 300px 0 0 125px;
  font-family: ok;
  font-size: 20px;

}

.topp {
  position: absolute;
  width: 854px;
  height: 410px;
  background: linear-gradient(to left, #267DFF 5%, rgba(237, 0, 128, 1) 78%, #267DFF 100%);
  filter: blur(70px);
  z-index: -1;
  border-bottom-left-radius: 3005px;
  border-bottom-right-radius: 200000px;
  border-top-left-radius: 15000px;
  left: -100px;
  margin: 500px 0 0 0;
  transform: rotate(29deg);

}

.tep {
  position: absolute;
  width: 154px;
  height: 310px;
  background: linear-gradient(to left, #267DFF 40%, rgba(237, 0, 128, 1) 30%, #267DFF 100%);
  filter: blur(50px);
  z-index: -1;
  border-radius: 50%;
  left: -070px;
  margin: 200px 0 0 0;
  transform: rotate(-30deg);

}




.domm {
  width: 80px;
  height: 80px;
  background-color: rgba(105, 17, 173, 1);
  border-radius: 50%;
  position: absolute;
  top: 670px;
  margin-left: 120px;

}

.rangh {
  position: absolute;
  margin: 545px 0 0 152px;
  color: white;
  font-family: ok;
}

span {
  color: rgba(105, 17, 173, 1);
}

.kompanya {
  width: 1500px;
  height: 600px;
  /* background-color: #267DFF; */
  position: relative;
  margin: 750px auto 0 auto;


}


.rang8 {
  font-size: 45px;
  margin: 0 0 0 25px;
  font-family: oo;

}

@font-face {
  font-family: oo;
  src: url(./Roboto/Roboto-Bold.ttf);
}

.tex {
  width: 700px;
  height: auto;
  margin: 100px 0 0 150px;
  position: absolute;
  z-index: 1;

}

.rang9 {
  font-family: op;
  padding-top: 30px;
  letter-spacing: 1px;
  line-height: 25px;
}

@font-face {
  font-family: op;
  src: url(./Roboto/Roboto-MediumItalic.ttf);
}

.topbl {
  width: 400px;
  height: 300px;
  background-color: #00FFE0;
  filter: blur(100px);
  border-bottom-left-radius: 3005px;
  border-bottom-right-radius: 2000px;
  opacity: 0.4;
  position: relative;
  top: 200px;
  left: -200px;
}

.tex2 {
  position: absolute;
  width: 600px;
  height: 400px;
  /* background-color: #00FFE0; */
  right: 0;
  top: 50px;

}

.t1 {
  width: 300px;
  height: 100px;
  float: left;
  margin: 100px 0 0 0;
}

.t2 {
  width: 300px;
  height: 100px;
  float: left;
  margin: 100px 0 0 0;
}

.t3 {
  width: 300px;
  height: 100px;
  float: left;
}

.t4 {
  width: 300px;
  height: 100px;
  float: left;
}

#ii {
  padding-left: 50px;
  font-size: 45px;
  font-family: oo;
  color: rgba(0, 40, 248, 0.89);
}

#ip {
  padding-left: 30px;
  font-family: ok;
  font-size: 18px;

}

.biz {
  width: 100%;
  height: 700px;
  background-image: url(./lines.png);
  background-repeat: no-repeat;
}

.rang14 {
  text-align: center;
}

.b1 {
  box-sizing: border-box;
  position: relative;
  width: 433px;
  height: 250px;
  left: 100px;
  top: 50px;
  float: left;
  background-color: rgba(243, 243, 243, 0.5);
  border: 1px solid #999999;
  box-shadow: 5px 4px 14px rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(1px);

  border-radius: 20px;


}

.b2 {
  box-sizing: border-box;
  float: left;
  width: 433px;
  height: 250px;
  left: 130px;
  top: 50px;
  position: relative;
  background-color: rgba(243, 243, 243, 0.5);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);

  border-radius: 20px;
}

.b3 {
  box-sizing: border-box;
  position: relative;
  width: 433px;
  height: 250px;
  left: 160px;
  top: 50px;
  float: left;
  background-color: rgba(243, 243, 243, 0.5);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

.b4 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 433px;
  height: 250px;
  left: 100px;
  top: 80px;
  border: 1px solid #999999;
  backdrop-filter: blur(1px);

  border-radius: 20px;
}

.b5 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 433px;
  height: 250px;
  left: 130px;
  top: 80px;

  background-color: rgba(243, 243, 243, 0.5);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);

  border-radius: 20px;
}

.b6 {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 433px;
  height: 250px;
  left: 160px;
  top: 80px;

  background-color: rgba(243, 243, 243, 0.5);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

.lt {
  position: absolute;
  z-index: -1;
  width: 800px;
  height: 200px;
  filter: blur(120px);
  background-color: rgba(237, 0, 128, 1);
  transform: rotate(25deg);
  margin: 100px 0 0 0;
}

.rt {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 200px;
  filter: blur(100px);
  background-color: rgba(237, 0, 128, 1);
  transform: rotate(-45deg);
  margin: 0px 0 0 1078px;

}

#b1iim {
  margin: 20px 0 0 30px;
}


.hr {
  width: 55px;
  height: 3px;
  border-radius: 20px;
  background-color: #686464;
  margin: 10px 0 15px 30px;
}


#soz {
  padding: 20px 0 0 30px;
}

.rang15,
.rang16,
.rang17,
.rang18,
.rang19,
.rang20 {
  font-family: ok;
}



.loyiha {
  width: 100%;
  height: 600px;
  /* background-color: #3c00ff; */
}

.menyu {
  height: 55px;
  width: 700px;
  background-color: #267DFF;
  margin: 150px auto 0 auto;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #999999;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 90px;
}


#men {
  padding: 18px 0 0 70px;
  font-family: ok;
  cursor: pointer;
  transition: 1s;

}

.yumaloq {
  width: 160px;
  height: 100%;
  background: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
  border-radius: 30px;
  transition: 1s;
  position: relative;
  z-index: -1;
}

#ba {

  position: absolute;
  margin: -90px 0 0 580px;
  font-family: oo;
  font-size: 35px;
}

/* imglar bolimi */
.imge {
  width: 430px;
  height: 340px;
  float: left;

}

.imgg img {
  width: 430px;
  height: 340px;
  border-radius: 20px;
  margin: 40px 0 0 100px;
  object-fit: cover;
}

.chiq1 {
  width: 395px;
  height: 320px;
  border-radius: 8px;
  position: absolute;
  margin: -332px 0 0 118px;


}

.tex11 {
  background: rgba(0, 0, 0, 0.87);
  width: 395px;
  height: 320px;
  opacity: .8;
  border-radius: 8px;

}

#nn {
  position: absolute;
  bottom: 30px;
  color: white;
  margin: 0 0 0 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}



/* 1 */

.imge1,
.imge2,
.imge3,
.imge4,
.imge5 {
  width: 430px;
  height: 340px;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
}

.imge3 {
  margin-left: 0;
}

.imgg img {
  width: 430px;
  height: 340px;
  border-radius: 20px;
  margin: 40px 0 0 100px;
  object-fit: cover;
}

.chiq {
  width: 395px;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  margin: -332px 0 0 118px;
}

.tex1 {
  background: rgba(0, 0, 0, 0.87);
  width: 395px;
  height: 320px;
  transition: 1.2s;
  opacity: .8;
  opacity: -1;


}

.imge1:hover .tex1 {
  transform: scale(1.2);
  transition: 1.2s;
  opacity: .8;
  cursor: pointer;
}

.imge2:hover .tex1 {
  transform: scale(1.2);
  transition: 1.2s;
  opacity: .8;
  cursor: pointer;
}

.imge3:hover .tex1 {
  transform: scale(1.2);
  transition: 1.2s;
  opacity: .8;
  cursor: pointer;
}

.imge4:hover .tex1 {
  transform: scale(1.2);
  transition: 1.2s;
  opacity: 0.7;
  cursor: pointer;
}

.imge5:hover .tex1 {
  transform: scale(1.2);
  transition: 1.2s;
  opacity: .8;
  cursor: pointer;
}

.imge1:hover #hh {
  opacity: 1;
  transition: 1.2s;

}

.imge2:hover #hh {
  opacity: 1;
  transition: 1.2s;

}

.imge3:hover #hh {
  opacity: 1;
  transition: 1.2s;

}

.imge4:hover #hh {
  opacity: 1;
  transition: 1.2s;

}

.imge5:hover #hh {
  opacity: 1;
  transition: 1.2s;

}

#hh {
  position: absolute;
  bottom: 30px;
  color: white;
  margin: 0 0 0 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  opacity: -1;
  transition: 1.2s;

}

.vv {
  position: absolute;
  width: 121px;
  height: 37px;
  background: #FFFFFF;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 52px 0 0 392px;
}

.vv h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  position: absolute;
  width: 61px;
  height: 19px;
  margin: 8px 30px;
}

#ico {
  font-size: 50px;
  position: absolute;
  margin: -240px 0 0 50px;
  transform: rotate(45deg);


}

#mm {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  position: absolute;
  width: 61px;
  height: 19px;
  margin: 8px 24px;


}

#ss {
  position: absolute;
  padding-left: 5px;

  color: #000000;
}

.ish {

  width: 80px;
  height: 80px;
  background-color: rgba(105, 17, 173, 1);
  border-radius: 50%;
  position: absolute;
  margin: 800px 0 0 650px;

  z-index: -2;

}

#ish {
  margin: 835px 0 0 680px;
  z-index: 1;
  color: white;
  font-size: 23px;

}

#is {
  z-index: 1;
  margin-left: -5px;
}

.xizmat {
  background-image: url(./lines.png);
  width: 100%;
  height: 800px;
  /* background-color: #000000; */
  float: left;
  margin-top: 300px;

}

.bxiz {
  width: 1358px;
  height: 750px;
  margin: -80px auto 0 auto;
  border: 1px solid #4E4E4E;
  backdrop-filter: blur(1px);
  border-radius: 20px;
}

.bx1,
.bx2,
.bx3,
.bx4,
.bx5,
.bx6 {
  width: 400px;
  height: auto;
  /* background-color: #00FFE0; */
  float: left;
  margin: 30px 0 50px 20px;
}

.bd1,
.bd2,
.bd3,
.bd4,
.bd5,
.bd6 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #1E11AD;
  margin: 20px auto 0 auto;
}

.bx1,
.bx4 {
  margin-left: 55px;
}

#iia {
  text-align: center;
  margin: 50px auto;
  font-size: 35px;
  font-family: oo;

}

#veb {
  text-align: center;
  margin-top: 19px;
  font-size: 25px;
  font-family: ok;
}

.rang26,
.rang27,
.rang28,
.rang29,
.rang30,
.rang31 {
  text-align: center;
  padding-left: 100px;
  padding-top: 30px;
  font-family: ok;
  line-height: 25px;
  font-size: 18px;
}

.xmm {
  position: absolute;
  width: 1000px;
  height: 350px;
  background-color: rgb(224, 69, 151);
  filter: blur(200px);
  z-index: -1;
  border-bottom-left-radius: 3005px;
  border-bottom-right-radius: 200000px;
  border-top-left-radius: 15000px;
  margin-left: 200px;
  margin-top: -100px;
  transform: rotate(19deg);

}

.bizblog {
  width: 100%;
  height: 900px;


}

#bllo {
  font-size: 35px;
  text-align: center;
  font-family: oo;
  width: 400px;
  margin: 1px auto;
}

.blo1 {
  width: 430px;
  height: 530px;
  background-color: #1E11AD;
  float: left;
  margin: 40px 0 0 75px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  z-index: 2;
}

.blo2 {
  width: 430px;
  height: 530px;
  background-color: #1E11AD;
  float: left;
  margin: 40px 0 0 30px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  z-index: 2;
}

.blo3 {
  width: 430px;
  height: 530px;
  background-color: #1E11AD;
  float: left;
  margin: 40px 0 0 30px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  z-index: 2;

}

.blo1 img {

  box-sizing: border-box;

  position: absolute;
  width: 429px;
  height: 326px;
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  border-radius: 20px 20px 0px 0px;
}

.blo2 img {

  box-sizing: border-box;

  position: absolute;
  width: 429px;
  height: 326px;
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  border-radius: 20px 20px 0px 0px;
}

.blo3 img {

  box-sizing: border-box;

  position: absolute;
  width: 429px;
  height: 326px;
  border: 1px solid #999999;
  backdrop-filter: blur(1px);
  border-radius: 20px 20px 0px 0px;
}


#bu {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -1430px;
  top: 4590px;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  font-size: 30px;
}


#buu {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  top: 4590px;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  font-size: 30px;
}

#qq {
  position: absolute;
  top: 350px;
  font-size: 21px;
  font-family: oo;
  left: 30px;
}

#pqq {
  position: absolute;
  top: 400px;
  font-size: 18px;
  color: rgba(39, 39, 39, 0.7);
}

#qpas {
  position: absolute;
  bottom: 20px;
  margin-left: 230px;
}


#data,
#data1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;

  position: absolute;
  margin: 490px 0 0 280px;


}

#data {

  position: absolute;
  margin: 490px 0 0 340px;
}

.ran {
  width: 600px;
  height: 450px;
  background-color: #00FFE0;
  transform: rotate(-30deg);
  z-index: -10;
  position: absolute;
  margin-top: 100px;
  filter: blur(150px);
}

.ran1 {
  width: 200px;
  height: 150px;
  background-color: rgb(224, 69, 151);
  transform: rotate(20deg);
  z-index: -10;
  position: absolute;
  margin-top: 150px;
  filter: blur(150px);
  margin-left: 1200px;
}


.bjamo {
  width: 100%;
  height: 600px;
  /* background-color: #00FFE0; */
  float: left;
}

#bj {
  font-size: 36px;
  font-family: oo;
  text-align: center;
  margin-top: 90px;
}

.bj1,
.bj2,
.bj3,
.bj4 {
  width: 315px;
  height: 325px;
  /* background-color: #1E11AD; */
  float: left;
  border: 1px solid #4E4E4E;
  backdrop-filter: blur(1px);
  border-radius: 60px;
  margin: 40px 0 0 30px;
}

.bj1 {
  margin-left: 75px;

}

#bu1 {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -1430px;
  top: 5190px;

  border: none;
  background: rgba(209, 206, 206, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  font-size: 30px;
}


#buu1 {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  top: 5190px;
  border: none;
  background: rgba(209, 206, 206, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  font-size: 30px;
}

.fro {
  position: absolute;
  width: 290px;
  height: 85px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #4E4E4E;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  left: 12px;
  top: 280px;
}

.tf {
  position: absolute;
  width: 100px;
  height: 0px;
  /* left: 229px; */
  top: 44px;
  margin-left: 100px;
  border: 2px solid #2E2D2E;
  border-radius: 50px;
}

#tf {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  /* color: #FFFFFF; */
  padding-top: 10px;

}

#tff {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  /* color: rgba(255, 255, 255, 0.8); */
  padding-top: 18px;
  letter-spacing: 1px;
}

.bj1 img {
  width: 100%;
  height: 100%;
  border-radius: 60px;

}

.bj2 img {
  width: 100%;
  height: 100%;
  border-radius: 60px;

}

.bj3 img {
  width: 100%;
  height: 100%;
  border-radius: 60px;

}

.bj4 img {
  width: 100%;
  height: 100%;
  border-radius: 60px;

}


.choy {
  width: 100%;
  height: 970px;
  /* background-color: #00FFE0; */
  float: left;
  margin: 0 auto;
  background-image: url(./lines.png);
}

.kchoy {
  width: 1360px;
  height: 870px;
  margin: 0 auto;
  /* background-color: #1E11AD; */
  margin-top: 80px;
  border: 1px solid #4E4E4E;
  backdrop-filter: blur(1px);
  border-radius: 20px;

}

.choy1 {
  width: 620px;
  height: 750px;
  /* background-color: #267DFF; */
  float: left;
  margin: 100px 0 0 95px;

}

.choy2 {
  width: 487px;
  height: 600px;
  /* background-color: #FFFFFF; */
  margin: 150px 0 0 100px;
  float: left;
  background: rgba(83, 83, 83, 0.1);
  box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  backdrop-filter: blur(2px);
  border-radius: 10px;

}


#cc {
  font-family: kk;
}

#cc1 {
  font-family: ok;
  padding: 50px 0 0 0;
}

@font-face {
  font-family: kk;
  src: url(./Roboto/Roboto-Italic.ttf);
}


#name {
  width: 499px;
  font-size: 18px;
  margin-top: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:
    rgba(255, 255, 255, 0.9);
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: ok;
  border-bottom: 2px solid #333;
}

#name1 {
  width: 499px;
  font-size: 18px;
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:
    rgba(255, 255, 255, 0.9);
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: ok;
  border-bottom: 2px solid #333;

}

#name2 {
  width: 499px;
  font-size: 18px;
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:
    rgba(255, 255, 255, 0.9);
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: ok;
  border-bottom: 2px solid #333;
}

.chk {
  float: left;
  width: 210px;
  margin-top: 15px;
}

.chk p {
  font-size: 18px;
  padding: 10px;
  font-family: ok;
 
}


.chk1 {
  float: left;
  width: 200px;
  margin-top: 15px;
  margin-left: 100px;

}

.chk1 p {
  padding: 10px;
  font-size: 18px;
  font-family: ok;
 
}

#chk{
  cursor: pointer;
}



#ch1,
#ch2,
#ch3 {
  padding-left: 15px;
  color: black;
}


.imgch{
  width: 150px;
  height: 150px;
  float: left;
  position: absolute;
margin: 50px 0 0 50px;
}
.imgch1{
  width: 150px;
  height: 150px;
  float: left;
  position: absolute;
margin: 50px 0 0 280px;

}.imgch2{
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 300px 0 0 50px;
}.imgch3{
  width: 150px;
  height: 150px;
  float: left;
  position: absolute;
margin: 300px 0 0 280px;
}

.imgch img{
  width: 100%;
  height: 100%;
}
.imgch1 img{
  width: 100%;
  height: 100%;
}

.imgch2 img{
  width: 100%;
  height: 100%;
}

.imgch3 img{
  width: 100%;
  height: 100%;
}


#ko{
  font-size: 25px;
  font-family: ok;
  padding-top: 15px;
  text-align: center;
}


#oxir{
  font-size: 28px;
  font-family: ok;
  text-align: center;
  padding-top: 30px;
}

.chdom{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(105, 17, 173, 1);
  position: absolute;
  bottom: 23px;
  margin-left: 830px;
}

.choy3{

  position: absolute;
  bottom: 35px;
  margin-left: 845px;
  color: white;
  font-size: 17px;
  font-family: oo;
}

#mmz{
margin-left: -5px;
}

.logo{
  width: 100%;
  height: 250px;

  float: left;

}

.log1{
  width: 100%;
  height: 230px;
  background-color: rgba(255, 255, 255, 1);
margin-top: 200px;
border-top: 1px solid #6a6666;
backdrop-filter: blur(1px);
border-radius: 20px 20px 0px 0px;

}

.log{

  width: 100%;
  height: 100%;
  float: left;
  background-image: url(./Mask\ group.png);

}

#loo{
  font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
font-family: ok;
letter-spacing: 0.06em;
float: left;
padding: 40px 0 0 50px;
}

#manzil{
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 25px;
float: left;
margin: 50px 0  0 200px ;
}

#nam{
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 25px;
margin: 10px 0;


}

.nam{
  margin: 90px 0 0 1000px;
  

}

.ijti h2{
  float: left;
  margin-left: 20px;
  /* position: relative; */
  font-size: 30px;
  cursor: pointer;


}

.ijti{
  position: absolute;
  right: 70px;
  top: 100px;

}



.fa-phone{
  position: absolute  ;
  margin-left: -35px;
  margin-top: 3px;
}









@media screen and (max-width:1400px) {
  .navbar {
    width: 1600px;

  }

  .katak {
    position: relative;
    width: 1600px;

  }

  #pp {
    width: 300px;

  }

  .riga {
    position: absolute;
    left: 1200px;
  }

}